body  
{
    background-color: plum;
}

h3
{
    color:blue;
    text-align: center;
}


textarea
{
    resize: none;
    width: 90vw;
}

#outputs
{
    resize: none;
    height: 30em;
    width: 98vw;
}