<!doctype html>

<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script>        

        </script>
    </head></head>

    <body>
        <h3>CSC2008 Database project</h3>
        
        <form>
            <div><div>Song</div><div><Input type="text" /></div></div>
            <div><div>Song</div><div><Input type="text" /></div></div>
            <div><div>Song</div><div><Input type="text" /></div></div>
        </form>

    </body>

</html>