<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h3>CSC2008 Database project</h3>
        <table>
            <tr>
                <td>
                    <div>Input your SQL statements below :   <button>Execute</button></div>
                    <br/>
                    <textarea></textarea>
                </td>

                <td>
                    <div>Output : </div>
                    <br/>
                    <textarea disabled></textarea>
                </td>
            </tr>
        </table>
    </body>

</html>