<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- CSS Files -->
        <link id="pagestyle" href="../static/soft-ui-dashboard.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap.min.js"></script>
        
    </head>

    <body onLoad="doSomething1()" style="background-color:#191414">
        <!-- <h3>CSC2008 Database project</h3>

            <div>
                <div id='inputs'> 
                    <label for='songName'>Song Name</label> 
                    <textarea id='songName' name='songName' wrap="soft" maxlength="255"></textarea>
                    <hr>

                    <label for='artistName'>Artist Name</label> 
                    <textarea id='artistName' name='artistName' wrap="soft" maxlength="255"></textarea>
                    <hr>

                    <label for='albumName'>Album Name</label> 
                    <textarea id='albumName' name='albumName' wrap="soft" maxlength="255"></textarea>
                    <hr>
                    <Button onClick="doSomething2()">Search</Button>
                </div>
                <hr>
                <div><h3>Results From MySQL</h3></div>
                <div><center><b><span id='elapsed1'>Execution Time</span></b></center></div>
                <div class="container mt-6 mb-6">
                    <table class='table table-striped' id='dt1'>
                        <thead>
                                <th>song</th>
                                <th>year</th>
                                <th>disc</th>
                                <th>track</th>
                                <th>album</th>
                                <th>artist</th>
                        </thead>
                        <tbody  id='tb1'>
                        </tbody>
                    </table>
                </div>

                <hr>
            </div> -->

            <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main" style="background-color:#0f0f0f">
                <div class="sidenav-header">
                  <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                  <a class="navbar-brand m-0" href="" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" style="width:50px;fill:white">
                      <path d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"/>
                    </svg>
                    <span class="ms-1 font-weight-bold" style="color:white;font-size: 24px;">Spotifu</span>
                  </a>
                </div>
                <hr class="horizontal dark mt-0">
                <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" /></svg>
                        </div>
                        <span class="nav-link-text ms-1" style="color:white">Home</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  " href="">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
                        </div>
                        <span class="nav-link-text ms-1" style="color:white">Search</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  " href="">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M434.66,167.71h0L344.5,77.36a31.83,31.83,0,0,0-45-.07h0l-.07.07L224,152.88V424L434.66,212.9A32,32,0,0,0,434.66,167.71ZM480,320H373.09L186.68,506.51c-2.06,2.07-4.5,3.58-6.68,5.49H480a32,32,0,0,0,32-32V352A32,32,0,0,0,480,320ZM192,32A32,32,0,0,0,160,0H32A32,32,0,0,0,0,32V416a96,96,0,0,0,192,0ZM96,440a24,24,0,1,1,24-24A24,24,0,0,1,96,440Zm32-184H64V192h64Zm0-128H64V64h64Z"/></svg>
                        </div>
                        <span class="nav-link-text ms-1" style="color:white">Your Library</span>
                      </a>
                    </li>
                
            </aside>

            <main class="main-content  mt-0">
                <section>
                  <div class="page-header min-vh-75">
                    <div class="container">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column mx-auto">
                          <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                              <h2 class="font-weight-bolder" style ="color: white;">Welcome back</h2>
                              <p class="mb-0" style="color: white;">What do you want to listen to?</p>
                            </div>
                            <div class="card-body">
                              <form role="form">
                                <label style="color: white;">Song Name</label>
                                <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Enter a Song name" id='songName' name='songName'>
                                </div>
                                <label style="color: white;">Artist name</label>
                                <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Enter an Artist Name" id='artistName' name='artistName'>
                                </div>
                                <label style="color: white;">Album name</label>
                                <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Enter an Album Name" id='albumName' name='albumName'>
                                </div>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                  <label class="form-check-label" for="rememberMe" style="color: white;">Filter alphabetically</label>
                                </div>
            

                                
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                  <label class="form-check-label" for="rememberMe" style="color: white;">Using SQL</label>
                                </div>
            
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                  <label class="form-check-label" for="rememberMe" style="color: white;">Using noSQL</label>
                                </div>
            
            
                                <div class="text-center">
                                  <button type="button" class="btn w-100 mt-4 mb-0" style="background-color: #1db954;color:#191414" onClick="doSomething2()">Search</button>
                                </div>
                              </form>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </section>
            </main>

            <div style="width:65%;margin-left: 25%;color: white;">
                <table class='table table-striped' id='dt'>
                    <thead style="color: white;">
                            <th>song</th>
                            <th>year</th>
                            <th>disc</th>
                            <th>track</th>
                            <th>album</th>
                            <th>artist</th>
                    </thead>
                    <tbody  id='tb'>
                    </tbody>
                </table>
            </div>
            
            <script>  

                var _DataTable;
                
                async function doSomething1()
                {
                    console.log("Body loaded")
    
                    _DataTable = $('#dt').DataTable({
                                                    "columns": [
                                                        { "data": "name"         , "title": "Song Name"    },
                                                        { "data": "year"         , "title": "Year"         },
                                                        { "data": "disc"         , "title": "Disc Number"  },
                                                        { "data": "track"        , "title": "Track Number" },
                                                        { "data": "album"        , "title": "Album"        },
                                                        { "data": "artist"       , "title": "Artist"       }
                                                    ]
                                                 });
                                               }
    
                async function doSomething2()
                {
                    _DataTable.clear().draw();
                    tb.innerHTML = ""
                    tb.innerHTML = "Please wait"
    
                    try
                    {
                        var _table    = $('#dt').DataTable()
                        let song      = document.getElementById('songName')
                        let artist    = document.getElementById('artistName')
                        let album     = document.getElementById('albumName')
                        let tb        = document.getElementById('tb')
    
                        let hasSong   = false
                        let hasArtist = false
                        let hasAlbum  = false
                        let inputs    = {}
    
                        //-------------------------------------------------
                        if( song != null && song.value.length > 0 ) 
                        {
                            hasSong = true
                        }
                        if( artist != null && artist.value.length > 0 ) 
                        {
                            hasArtist = true
                        }
                        if( album != null && album.value.length > 0 ) 
                        {
                            hasAlbum = true
                        }
    
                        //-------------------------------------------------
                        let sqlQuery = ""
                        if( hasSong && hasArtist && hasAlbum )
                        {
                            sqlQuery = ""
                        }
                        else if( hasSong && hasArtist && !hasAlbum )
                        {
                            sqlQuery = ""
                        }
                        else if( hasSong && !hasArtist && hasAlbum )
                        {
                            inputs = {                
                                        'procName' : 'FindArtistsBySongAndAlbumName',
                                        'arg1'     :  String(album.value),
                                        'arg2'     :  String(song.value) 
                                     };
                        }
                        else if( !hasSong && hasArtist && hasAlbum )
                        {
                            sqlQuery = ""
                        }
                        else if( hasSong && !hasArtist && !hasAlbum )
                        {
                            inputs = {
                                        'procName' : 'FindArtistsAndAlbumsBySongName',
                                        'arg1'     : String(song.value)
                                     };
                        }
                        else if( !hasSong && hasArtist && !hasAlbum )
                        {
                            inputs = {
                                       'procName' : 'FindSongsAndAlbumsByArtistName',
                                       'arg1'     : String(artist.value),
                                     };
                        }
                        else if( !hasSong && !hasArtist && hasAlbum )
                        {
                            inputs = {
                                       'procName' : 'FindSongsAndArtistsByAlbumName',
                                       'arg1'     : String(album.value),
                                     };
                        }
                        else
                        {
                            sqlQuery = ""
                        }
                        //-------------------------------------------------
                        if( hasSong || hasArtist || hasAlbum )
                        {
                            const request_header = {
                                                        method  : 'POST',
                                                        headers : {
                                                                    'Accept'       : 'application/json',
                                                                    'Content-Type' : 'application/json',
                                                                },
                                                        body : JSON.stringify( inputs ),
                                                   };
                            try
                            {
                                fetch( 'http://localhost:3000/sql/call' , request_header )
                                                .then(  response => response.json() )
                                                .then(  response => {
                                                                        const { results } = response
                                                                        tb.innerHTML = ""
                                                                        rows = ""
                                                                        collection = []
                                                                        results.map( record => {
                                                                            const doc = JSON.parse( record[0] )
    
                                                                            collection.push(doc)
                                                                            const { name , year , disc , track , album , artist } = doc
    
                                                                            const row = `<tr>
                                                                                    <td>${name}</td>
                                                                                    <td>${year}</td>
                                                                                    <td>${disc}</td>
                                                                                    <td>${track}</td>
                                                                                    <td>${album}</td>
                                                                                    <td>${artist}</td>
                                                                                   </tr>`
                                                                            rows += row
                                                                            //console.log( "record : " , name , year , disc , track , album , artist )
                                                                        })
                                                                        tb.innerHTML = rows
                                                                        _DataTable.clear().draw();
                                                                        _DataTable.rows.add(collection).draw();
                                                                    })
                                                .catch( err      => console.log(err) )
                            }
                            catch( err )
                            {
                                console.log( err )
                            }
                        }
                        else
                        {
                            console.log("No inputs")
                        }
                        //-------------------------------------------------
                    }
                    catch( err )
                    {
                        console.log( "Error : " , err )
                    }
                }
            </script>
    </body>

</html>