<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap.min.js"></script>
        <script>  
            async function doSomething1()
            {
                console.log("Body loaded")
                var _table = $('#dt').DataTable()
            } 

            async function doSomething2()
            {
                try
                {
                    let song      = document.getElementById('songName')
                    let artist    = document.getElementById('artistName')
                    let album     = document.getElementById('albumName')
                    let tb        = document.getElementById('tb')

                    let hasSong   = false
                    let hasArtist = false
                    let hasAlbum  = false
                    let inputs    = {}

                    //-------------------------------------------------
                    if( song != null && song.value.length > 0 ) 
                    {
                        hasSong = true
                    }
                    if( artist != null && artist.value.length > 0 ) 
                    {
                        hasArtist = true
                    }
                    if( album != null && album.value.length > 0 ) 
                    {
                        hasAlbum = true
                    }

                    //-------------------------------------------------
                    let sqlQuery = ""
                    if( hasSong && hasArtist && hasAlbum )
                    {
                        sqlQuery = ""
                    }
                    else if( hasSong && hasArtist && !hasAlbum )
                    {
                        sqlQuery = ""
                    }
                    else if( hasSong && !hasArtist && hasAlbum )
                    {
                        sqlQuery = ""
                    }
                    else if( !hasSong && hasArtist && hasAlbum )
                    {
                        sqlQuery = ""
                    }
                    else if( hasSong && !hasArtist && !hasAlbum )
                    {
                        inputs = {
                                    'procName' : 'FindArtistsAndAlbumsBySongName',
                                    'args'     : String(song.value)
                                 };
                    }
                    else if( !hasSong && hasArtist && !hasAlbum )
                    {
                        inputs = {
                                   'procName' : 'FindSongsAndAlbumsByArtistName',
                                   'args'     : String(artist.value),
                                 };
                    }
                    else if( !hasSong && !hasArtist && hasAlbum )
                    {
                        inputs = {
                                   'procName' : 'FindSongsAndArtistsByAlbumName',
                                   'args'     : String(album.value),
                                 };
                    }
                    else
                    {
                        sqlQuery = ""
                    }
                    //-------------------------------------------------
                    if( hasSong || hasArtist || hasAlbum )
                    {
                        const request_header = {
                                                    method  : 'POST',
                                                    headers : {
                                                                'Accept'       : 'application/json',
                                                                'Content-Type' : 'application/json',
                                                            },
                                                    body : JSON.stringify( inputs ),
                                               };
                        try
                        {
                            fetch( 'http://localhost:3000/sql/call' , request_header )
                                            .then(  response => response.json() )
                                            .then(  response => {
                                                                    const { results } = response
                                                                    tb.innerHTML = ""
                                                                    rows = ""
                                                                    for(count in results)
                                                                    {
                                                                        console.log(results[count])
                                                                        const [song,year,disc,track,album,artist] = results[count]
                                                                        row = `<tr>
                                                                                <td>${song}</td>
                                                                                <td>${year}</td>
                                                                                <td>${disc}</td>
                                                                                <td>${track}</td>
                                                                                <td>${album}</td>
                                                                                <td>${artist}</td>
                                                                               </tr>`
                                                                        rows += row
                                                                    }
                                                                    tb.innerHTML = rows
                                                                })
                                            .catch( err      => console.log(err) )
                        }
                        catch( err )
                        {
                            console.log( err )
                        }
                    }
                    else
                    {
                        console.log("No inputs")
                    }
                    //-------------------------------------------------
                }
                catch( err )
                {
                    console.log( "Error : " , err )
                }
            }
        </script>
    </head>

    <body onLoad="doSomething1()">
        <h3>CSC2008 Database project</h3>

            <div>
                <div id='inputs'> 
                    <label for='songName'>Song Name</label> 
                    <textarea id='songName' name='songName' wrap="soft" maxlength="255"></textarea>
                    <hr>

                    <label for='artistName'>Artist Name</label> 
                    <textarea id='artistName' name='artistName' wrap="soft" maxlength="255"></textarea>
                    <hr>

                    <label for='albumName'>Album Name</label> 
                    <textarea id='albumName' name='albumName' wrap="soft" maxlength="255"></textarea>
                    <hr>
                    <Button onClick="doSomething2()">Search</Button>
                </div>
                <hr>

                <div class="container mt-6 mb-6">
                    <table class='table table-striped' id='dt'>
                        <thead>
                                <th>Song Name</th>
                                <th>Year</th>
                                <th>Disc Number</th>
                                <th>Track Number</th>
                                <th>Album</th>
                                <th>Artist</th>
                        </thead>
                        <tbody  id='tb'>
                        </tbody>
                    </table>
                </div>

                <hr>
            </div>

    </body>

</html>